flask
flask-bootstrap
flask-wtf
flask-sqlalchemy
flask-migrate
flask-login
flask-debugtoolbar
flask-moment
flask-babel
flask-restful
flask-admin
scrapy
scrapy-fake-useragent
scrapyd
scrapyd-client
arrow
redis
pandas
gunicorn
psycopg2-binary
python-dotenv