{% extends 'layout.html' %}

{% block app_content %}
    <table class="table table-hover">
        <tr>
            <td width="256px"><img src="{{user.avatar(256)}}"></td>
            <td>
            <h1>{{user.username}}</h1>
            {% if user.last_seen %}
            <p>{{_('最近活动于:')}} {{ moment(user.last_seen).format('LLL') }}</p>
            {% endif %}
            </td>
        </tr>
    </table>
    {% if articles %}
    <div class="page-header">
        <h3>{{_('上传的文章')}}</h3>
    </div>
    {% include 'articles.html' %}
    {% endif %}
{% endblock %}